{% extends "index.html" %}

{% block content %}
<h1 class="form">{{ title }}</h1>

<form action="" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="estudianteSelect" class="form-label">Estudiante</label>
        <select class="form-control w-50" id="estudianteSelect" name="estudiante" required>
            <option value="" selected disabled>Seleccione un estudiante</option>
            {% for persona in estudiantes %}
            <option value="{{ persona.id }}">{{ persona.nombre }} {{ persona.apellidos }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="cursoSelect" class="form-label">Curso</label>
        <select class="form-control" id="cursoSelect" name="curso" required>
            <option value="" selected disabled>Seleccione un curso</option>
            {% for curso in cursos %}
            <option value="{{ curso.id }}">{{ curso.nombre }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
        <input type="date" class="form-control" id="fechaInicio" name="fecha_inicio" required>
    </div>

    <div class="mb-3">
        <label for="fechaFinal" class="form-label">Fecha Final</label>
        <input type="date" class="form-control" id="fechaFinal" name="fecha_final" required>
    </div>

    <div class="mb-3">
        <label for="estadoSelect" class="form-label">Estado</label>
        <select class="form-control" id="estadoSelect" name="estado" required>
            <option value="" selected disabled>Seleccionar estado</option>
            <option value="En curso">En curso</option>
            <option value="Finalizado">Finalizado</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="notaFinal" class="form-label">Nota Final</label>
        <input type="number" step="0.1" min="0" max="5" class="form-control" id="notaFinal" name="nota_final" value="0.0" disabled required>
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success d-flex align-items-center mx-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
            </svg>
            <span class="ms-2">Guardar</span>
        </button>
        
        <a href="{% url 'estudiante-curso' %}" class="btn btn-secondary d-flex align-items-center mx-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
            </svg>
            <span class="ms-2">Regresar</span>
        </a>
    </div>
</form>

<script>
    document.getElementById('estadoSelect').addEventListener('change', function() {
        var notaFinalInput = document.getElementById('notaFinal');
        if (this.value === 'Finalizado') {
            notaFinalInput.disabled = false;
        } else {
            notaFinalInput.disabled = true;
            notaFinalInput.value = '0.0';
        }
    });
</script>
{% endblock content %}
