{% extends "index.html" %}

{% block content %}
<h1 class="form">{{ title }}</h1>

<form action="" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="estudianteSelect" class="form-label">Estudiante</label>
        <select class="form-control w-50" id="estudianteSelect" name="estudiante" required>
            <option value="" selected disabled>Seleccione un estudiante</option>
            {% for persona in estudiantes %}
            <option value="{{ persona.id }}">{{ persona.nombre }} {{ persona.apellidos }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="cursoSelect" class="form-label">Curso</label>
        <select class="form-control" id="cursoSelect" name="curso" required>
            <option value="" selected disabled>Seleccione un curso</option>
            {% for curso in cursos %}
            <option value="{{ curso.id }}">{{ curso.nombre }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
        <input type="date" class="form-control" id="fechaInicio" name="fecha_inicio" required>
    </div>

    <div class="mb-3">
        <label for="fechaFinal" class="form-label">Fecha Final</label>
        <input type="date" class="form-control" id="fechaFinal" name="fecha_final" required>
    </div>

    <div class="mb-3">
        <label for="estadoSelect" class="form-label">Estado</label>
        <select class="form-control" id="estadoSelect" name="estado" required>
            <option value="" selected disabled>Seleccionar estado</option>
            <option value="En curso">En curso</option>
            <option value="Finalizado">Finalizado</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="notaFinal" class="form-label">Nota Final</label>
        <input type="number" step="0.1" min="0" max="5" class="form-control" id="notaFinal" name="nota_final" value="0.0" disabled required>
    </div>

    <div class="d-flex text-aling-center">
        <button type="submit" class="btn btn-success mx-3">Guardar</button>
        <a href="{% url 'estudiante-curso' %}" class="btn btn-secondary">Regresar</a>
    </div>
</form>

<script>
    document.getElementById('estadoSelect').addEventListener('change', function() {
        var notaFinalInput = document.getElementById('notaFinal');
        if (this.value === 'Finalizado') {
            notaFinalInput.disabled = false;
        } else {
            notaFinalInput.disabled = true;
            notaFinalInput.value = '0.0';
        }
    });
</script>
{% endblock content %}
