{% extends "index.html" %}
{% load humanize %}

{% block content %}
<h1>{{ title }}</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Estudiante</th>
            <th scope="col">Curso</th>
            <th scope="col">Fecha inicio</th>
            <th scope="col">Fecha final</th>
            <th scope="col">Estado</th>
            <th scope="col">Nota final</th>
        </tr>
    </thead>
    <tbody>
        {% for estudiante_curso in estudiantes_cursos %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>    
            <td>{{ estudiante_curso.estudiante }}</td>
            <td>{{ estudiante_curso.curso }}</td>
            <td>{{ estudiante_curso.fecha_inicio }}</td>
            <td>{{ estudiante_curso.fecha_final }}</td>
            <td>{{ estudiante_curso.estado }}</td>
            <td>{{ estudiante_curso.nota_final }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}