{% extends "index.html" %}

{% block content %}

{% if messages %}
  <div id="messages">
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}

<div class="d-flex justify-content-between aling-items-center">
    <h1>{{ title }}</h1>
    <div>
        <a href="{% url "agregar-curso" %}" class="btn btn-outline-primary" role="button">Agregar Curso</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Capacidad Máxima</th>
            <th scope="col">Profesor</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in curso %}
        <tr>
            <td scope="row">{{ forloop.counter }}</td>    
            <td>{{ curso.nombre }}</td>
            <td>{{ curso.capacidad_maxima }}</td>
            <td>{% if curso.profesor %}{{ curso.profesor.nombre}} {{ curso.profesor.apellidos }}{% else %}{{'Sin Asignar'}}{% endif %}</td>
            <td>
                <a href="{% url 'gestionar-curso' pk=curso.pk %}" class="btn btn-primary">Gestionar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
