{% extends "index.html" %}

{% block content %}

<h1>{{ title }}</h1>

<h1 class="form"></h1>

<form action="{% url "agregar-curso" %}" method="post" onsubmit="return validateCursoForm()">
    {% csrf_token %}

    <div class="mb-3">
        <label for="nameTextInput" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nameTextInput" name='nameTextInput' pattern="[A-Za-z\s]+" title="Solo se permiten letras y espacios." required>
    </div>

    <div class="mb-3">
        <label for="capacidadTextInput" class="form-label">Capacidad Máxima</label>
        <input type="number" class="form-control" id="capacidadTextInput" name='capacidadTextInput' min="1" max="30" required>
    </div>

    <div class="mb-3">
        <label for="profesorSelect" class="form-label">Profesor</label>
        <select class="form-control" id="profesorSelect" name="profesorSelect" required>
            <option value="">Seleccionar profesor</option>
            {% for profesor in profesores %}
                <option value="{{ profesor.id }}">{{ profesor.nombre }} {{ profesor.apellidos }}</option>
            {% endfor %}
        </select>
        {% if form.profesorSelect.errors %}
            <div class="invalid-feedback">
                Seleccione un profesor.
            </div>
        {% endif %}
    </div>
    

    <div class="d-flex text-aling-center">
        <button type="submit" class="btn btn-success mx-3">Guardar</button>
        <a href="{% url "cursos" %}" class="btn btn-secondary" role="button">Regresar</a>
    </div>    
</form>

{% endblock content %}
