{% extends "index.html" %}

{% block content %}

<h1>{{ title }}</h1>

<h1 class="form">Formulario para agregar cursos</h1>

<form action="{% url "agregar-curso" %}" method="post" onsubmit="return validateCursoForm()">
    {% csrf_token %}

    <div class="mb-3">
        <label for="nameTextInput" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nameTextInput" name='nameTextInput' pattern="[A-Za-z\s]+" title="Solo se permiten letras y espacios." required>
    </div>

    <div class="mb-3">
        <label for="capacidadTextInput" class="form-label">Capacidad</label>
        <input type="number" class="form-control" id="capacidadTextInput" name='capacidadTextInput' min="1" max="30" required>
    </div>

    <div class="mb-3">
        <label for="profesorSelect" class="form-label">Profesor</label>
        <select class="form-control" id="profesorSelect" name="profesorSelect">
            <option value="">Seleccionar profesor</option>
            {% for profesor in profesores %}
                <option value="{{ profesor.id }}">{{ profesor.nombre }} {{ profesor.apellidos }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock content %}
