{% extends "index.html" %}

{% block content %}
<h1 class="form">{{ title }}</h1>

<form action="" method="post">
    {% csrf_token %}

    
    <div class="mb-3">
        <label for="nameTextInput" class="form-label">Nombre</label>
        <input 
            type="text" 
            class="form-control" 
            id="nameTextInput" 
            name="nombre" 
            pattern="[A-Za-z\s]+" 
            title="Solo se permiten letras y espacios." 
            value="{{ curso.nombre }}"
            placeholder="Ingrese el nombre del curso"
            required>
    </div>

    
    <div class="mb-3">
        <label for="capacidadTextInput" class="form-label">Capacidad Maxima</label>
        <input 
            type="number" 
            class="form-control"
            id="capacidadTextInput" 
            name="capacidad_maxima"
            min = "1"
            max = "30"
            title="Mínimo 1, Máximo 30" 
            value="{{ curso.capacidad_maxima }}" 
            placeholder="Ingrese la capacidad maxima del curso"
            required>
    </div>

    
    <div class="mb-3">
        <label for="profesorSelect" class="form-label">Profesor</label>
        <select class="form-control" id="profesorSelect" name="profesor" required>
            <option value="">Seleccionar profesor</option>
            {% for profesor in profesores %}
                <option value="{{ profesor.id }}" {% if profesor.id == curso.profesor.id %}selected{% endif %}>
                    {{ profesor.nombre }} {{ profesor.apellidos }}
                </option>
            {% endfor %}
        </select>
        {% if form.profesor.errors %}
            <div class="invalid-feedback">
                Seleccione un profesor.
            </div>
        {% endif %}
    </div>
    

    <div class="d-flex align-items-center justify-content-center">
        <button type="submit" class="btn btn-success d-flex align-items-center mx-3" name="update">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-arrow-up me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 11a.5.5 0 0 0 .5-.5V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 .5.5"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
            </svg>
            Actualizar
        </button>

        <button type="submit" class="btn btn-danger d-flex align-items-center mx-3" name="delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-x me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
            </svg>
            Eliminar
        </button>

        <a href="{% url 'cursos' %}" class="btn btn-secondary d-flex align-items-center mx-3" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-return-left me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
            </svg>
            Regresar
        </a>
    </div>

</form>

{% endblock content %}