{% extends "index.html" %}

{% block content %}
<h1 class="form">{{ title }}</h1>

<form action="" method="post">
    {% csrf_token %}

    
    <div class="mb-3">
        <label for="nameTextInput" class="form-label">Nombre</label>
        <input 
            type="text" 
            class="form-control" 
            id="nameTextInput" 
            name="nombre" 
            pattern="[A-Za-z\s]+" 
            title="Solo se permiten letras y espacios." 
            value="{{ curso.nombre }}"
            placeholder="Ingrese el nombre del curso"
            required>
    </div>

    
    <div class="mb-3">
        <label for="capacidadTextInput" class="form-label">Capacidad Maxima</label>
        <input 
            type="number" 
            class="form-control"
            id="capacidadTextInput" 
            name="capacidad_maxima"
            min = "1"
            max = "30"
            title="Mínimo 1, Máximo 30" 
            value="{{ curso.capacidad_maxima }}" 
            placeholder="Ingrese la capacidad maxima del curso"
            required>
    </div>

    
    <div class="mb-3">
        <label for="profesorSelect" class="form-label">Profesor</label>
        <select class="form-control" id="profesorSelect" name="profesor" required>
            <option value="">Seleccionar profesor</option>
            {% for profesor in profesores %}
                <option value="{{ profesor.id }}" {% if profesor.id == curso.profesor.id %}selected{% endif %}>
                    {{ profesor.nombre }} {{ profesor.apellidos }}
                </option>
            {% endfor %}
        </select>
        {% if form.profesor.errors %}
            <div class="invalid-feedback">
                Seleccione un profesor.
            </div>
        {% endif %}
    </div>
    

    <div class="d-flex align-items-center">
        <button type="submit" class="btn btn-success" name="update">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
            </svg>
            Actualizar
        </button>
        <button type="submit" class="btn btn-danger mx-3" name="delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
            </svg>
            Eliminar
        </button>
        <a href="{% url 'cursos' %}" class="btn btn-secondary" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
            </svg>
            Regresar
        </a>
    </div>

</form>

{% endblock content %}