{% extends "index.html" %}

{% block content %}

<h1 class="form">{{ title }}</h1>

<form action="" method="post" onsubmit="return validatePersonaForm()">
    {% csrf_token %}

    <div class="mb-3 formCreatePersona">
        <label for="nameTextInput" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="nameTextInput" name='nameTextInput' pattern="[A-Za-z\s]+" title="Solo se permiten letras y espacios." required>
    </div>

    <div class="mb-3">
        <label for="lastNameTextInput" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="lastNameTextInput" name='lastNameTextInput' pattern="[A-Za-z\s]+" title="Solo se permiten letras y espacios." required>
    </div>

    <div class="mb-3">
        <label for="dniTextInput" class="form-label">DNI</label>
        <input type="text" class="form-control" id="dniTextInput" name='dniTextInput' pattern="\d{1,10}" title="Solo se permiten números de hasta 10 dígitos." required>
    </div>

    <div class="mb-3">
        <label for="telTextInput" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="telTextInput" name='telTextInput' pattern="\d{1,10}" title="Solo se permiten números de hasta 10 dígitos." required>
    </div>

    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" name='inputEmail' aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text"></div>
    </div>

    <div class="mb-3">
        <label for="birthdateInput" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="birthdateInput" name="birthdateInput" required>
    </div>

    <input type="hidden" name="rol" value="{{ rol }}">

    <button type="submit" class="btn btn-success">Guardar</button>
</form>
{% endblock content %}
