{% extends "index.html" %}

{% block content %}
<h1 class="form">{{ title }}</h1>

<form action="" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="nameTextInput" class="form-label">Nombres</label>
        <input 
            type="text" 
            class="form-control" 
            id="nameTextInput" 
            name="nombre" 
            pattern="[A-Za-z\s]+" 
            title="Solo se permiten letras y espacios." 
            value="{{ persona.nombre }}"
            placeholder="Ingrese los nombres"
            required>
    </div>

    <div class="mb-3">
        <label for="lastNameTextInput" class="form-label">Apellidos</label>
        <input 
            type="text" 
            class="form-control" 
            id="lastNameTextInput" 
            name="apellidos" 
            pattern="[A-Za-z\s]+" 
            title="Solo se permiten letras y espacios." 
            value="{{ persona.apellidos }}" 
            placeholder="Ingrese los apellidos"
            required>
    </div>

    <div class="mb-3">
        <label for="dniTextInput" class="form-label">DNI</label>
        <input 
            type="text" 
            class="form-control" 
            id="dniTextInput" 
            name="dni" 
            pattern="\d{1,10}" 
            title="Solo se permiten números de hasta 10 dígitos." 
            value="{{ persona.dni }}" 
            placeholder="Ingrese el DNI"
            required>
    </div>

    <div class="mb-3">
        <label for="telTextInput" class="form-label">Teléfono</label>
        <input
            type="text" 
            class="form-control" 
            id="telTextInput" 
            name="telefono" 
            pattern="\d{1,10}" 
            title="Solo se permiten números de hasta 10 dígitos." 
            value="{{ persona.telefono }}"
            placeholder="Ingrese el número de teléfono"
            required>
    </div>

    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input 
            type="email" 
            class="form-control" 
            id="inputEmail" 
            name="email" 
            value="{{ persona.email }}" 
            placeholder="Ingrese su correo electrónico"
            required>
    </div>

    <div class="mb-3">
        <label for="birthdateInput" class="form-label">Fecha de Nacimiento</label>
        <input 
            type="date" 
            class="form-control" 
            id="birthdateInput" 
            name="fecha_nacimiento" 
            value="{{ persona.fecha_nacimiento|date:'Y-m-d' }}" 
            required>
    </div>

    <div class="mb-3">
        <label for="rol" class="form-label">Rol</label>
        <input 
            type="text" 
            class="form-control" 
            id="rol" 
            value="{{ persona.rol }}" 
            disabled>
    </div>

    <div class="d-flex align-items-center">
        <button type="submit" class="btn btn-success" name="update">Actualizar</button>
        <button type="submit" class="btn btn-danger mx-3" name="delete">Eliminar</button>
        <a href="{% if rol == 'Estudiante' %}{% url 'lista-estudiantes' %}{% elif rol == 'Profesor' %}{% url 'lista-profesores' %}{% endif %}" class="btn btn-secondary" role="button">Regresar</a>
    </div>

</form>
{% endblock content %}
