{% extends "index.html" %}

{% block content %}
<h1 class="form">{{ title }}</h1>

<form action="" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="nameTextInput" class="form-label">Nombres</label>
        <input 
            type="text" 
            class="form-control" 
            id="nameTextInput" 
            name="nombre" 
            pattern="[A-Za-z\s]+" 
            title="Solo se permiten letras y espacios." 
            value="{{ persona.nombre }}"
            placeholder="Ingrese los nombres"
            required>
    </div>

    <div class="mb-3">
        <label for="lastNameTextInput" class="form-label">Apellidos</label>
        <input 
            type="text" 
            class="form-control" 
            id="lastNameTextInput" 
            name="apellidos" 
            pattern="[A-Za-z\s]+" 
            title="Solo se permiten letras y espacios." 
            value="{{ persona.apellidos }}" 
            placeholder="Ingrese los apellidos"
            required>
    </div>

    <div class="mb-3">
        <label for="dniTextInput" class="form-label">DNI</label>
        <input 
            type="text" 
            class="form-control" 
            id="dniTextInput" 
            name="dni" 
            pattern="\d{1,10}" 
            title="Solo se permiten números de hasta 10 dígitos." 
            value="{{ persona.dni }}" 
            placeholder="Ingrese el DNI"
            required>
    </div>

    <div class="mb-3">
        <label for="telTextInput" class="form-label">Teléfono</label>
        <input
            type="text" 
            class="form-control" 
            id="telTextInput" 
            name="telefono" 
            pattern="\d{1,10}" 
            title="Solo se permiten números de hasta 10 dígitos." 
            value="{{ persona.telefono }}"
            placeholder="Ingrese el número de teléfono"
            required>
    </div>

    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input 
            type="email" 
            class="form-control" 
            id="inputEmail" 
            name="email" 
            value=  "{{ persona.email }}" 
            placeholder="Ingrese su correo electrónico"
            required>
    </div>

    <div class="mb-3">
        <label for="birthdateInput" class="form-label">Fecha de Nacimiento</label>
        <input 
            type="date" 
            class="form-control" 
            id="birthdateInput" 
            name="fecha_nacimiento" 
            value="{{ persona.fecha_nacimiento|date:'Y-m-d' }}" 
            required>
    </div>

    <div class="mb-3">
        <label for="rol" class="form-label">Rol</label>
        <input 
            type="text" 
            class="form-control" 
            id="rol" 
            value="{{ persona.rol }}" 
            disabled>
    </div>

    <div class="d-flex align-items-center">
        <button type="submit" class="btn btn-success" name="update">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
            </svg>
            Actualizar
        </button>
        <button type="submit" class="btn btn-danger mx-3" name="delete">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
            </svg>
            Eliminar
        </button>
        <a href="{% if rol == 'Estudiante' %}{% url 'lista-estudiantes' %}{% elif rol == 'Profesor' %}{% url 'lista-profesores' %}{% endif %}" class="btn btn-secondary" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
            </svg>
            Regresar
        </a>
    </div>

</form>
{% endblock content %}
