{% extends "index.html" %}

{% block content %}

    

  <div class= "d-flex justify-content-between aling-items-center">
    <h1>{{ title }}</h1>
    <div>
      <a href="{% url "form-create-estudiantes" %}" class="btn btn-primary" role="button">Agregar Estudiantes</a>
    </div>  
  </div>

  {% if messages %}
  <div id="messages">
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
  {% endif %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Rol</th>
            <th scope="col">Email</th>
            <th scope="col">DNI</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for estudiantes in estudiantes %}
          <tr>
              <td scope="row">{{forloop.counter}}</td>    
              <td>{{estudiantes.nombre}}</td>
              <td>{{estudiantes.apellidos}}</td>
              <td>{{estudiantes.rol}}</td>
              <td>{{estudiantes.email}}</td>
              <td>{{estudiantes.dni}}</td>
              <td>
                <a href="{% url 'gestionar-estudiante' pk=estudiantes.pk %}" class="btn btn-info">Gestionar</a>
              </td>
          </tr>
        </tbody>
          {% endfor %}
    </table>
{% endblock content %}