{% extends "index.html" %}

{% block content %}

  <div class="d-flex justify-content-between aling-items-center">
    <h1>{{ title }}</h1>
    <div>
      <a href="{% url 'form-create-profesores' %}" class="btn btn-outline-primary" role="button">Agregar Profesor</a>
    </div>
  </div>  
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Rol</th>
            <th scope="col">Email</th>
            <th scope="col">DNI</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for profesores in profesores %}
          <tr>
              <td scope="row">{{ forloop.counter }}</td>
              <td>{{ profesores.nombre }}</td>
              <td>{{ profesores.apellidos }}</td>
              <td>{{ profesores.rol }}</td>
              <td>{{ profesores.email }}</td>
              <td>{{ profesores.dni }}</td>
              <td>
                <a href="{% url "gestionar-profesor" pk=profesores.pk %}" class="btn btn-primary">Gestionar</a>
              </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock content %}
