{% extends "index.html" %}

{% block content %}

    <h1>{{ title }}</h1>

    <div>
      <a href="{% url 'form-create-profesores' %}" class="btn btn-primary" role="button">Agregar profesor</a>
    </div>

    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Rol</th>
            <th scope="col">Email</th>
            <th scope="col">DNI</th>
          </tr>
        </thead>
        <tbody>
          {% for profesores in profesores %}
          <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ profesores.nombre }}</td>
              <td>{{ profesores.apellidos }}</td>
              <td>{{ profesores.rol }}</td>
              <td>{{ profesores.email }}</td>
              <td>{{ profesores.dni }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock content %}
