{% extends "index.html" %}

{% block content %}

<h1 class="form">{{ title }}</h1>

<form action="" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="estadoSelect" class="form-label">Estado</label>
        <select class="form-control" id="estadoSelect" name="estado" required>
            <option value="" disabled selected>Selecciona un estado</option>
            <option value="En espera de pago">En espera de pago</option>
            <option value="Pago">Pago</option>
            <option value="Finalizada">Finalizada</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="fechaInicioInput" class="form-label">Fecha de Inicio</label>
        <input type="date" class="form-control" id="fechaInicioInput" name="fecha_inicio" required>
    </div>

    <div class="mb-3">
        <label for="costoInput" class="form-label">Costo</label>
        <input type="number" class="form-control" id="costoInput" name="costo" min="0" step="0.01" title="El costo debe ser un valor numérico positivo con hasta dos decimales." required>
    </div>

    <div class="mb-3">
        <label for="estudianteCursoSelect" class="form-label">Estudiante y Curso</label>
        <select class="form-control w-100" id="estudianteCursoSelect" name="estudiante_curso" required>
            <option value="" disabled selected>Seleccione un estudiante y su curso</option>
            {% for estudiante_curso in estudiante_curso %}  
                <option value="{{ estudiante_curso.id }}">
                    Nombre: {{ estudiante_curso.estudiante.nombre }} {{estudiante_curso.estudiante.apellidos}} - Curso: {{ estudiante_curso.curso.nombre }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <button type="submit" class="btn btn-success mx-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z"/>
                <path d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z"/>
            </svg>
            Guardar
        </button>
        <a href="{% url 'matriculas' %}" class="btn btn-secondary" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
            </svg>
            Regresar
        </a>
    </div>
</form>

{% endblock content %}
